
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1;
    display: flex;
    background-color: #DDD0C8;
}

.banner {
    max-width: 577px;
    margin-right: 50px;
}

img {
    width: 25vw;
    min-width: 577px;
    max-width:577px;
}

.image-banner {
    height: 95vh;
}

.content .header-area {
    margin-bottom: 50px;
}

.content {
    max-width: 750px;
    width: 50%;
    margin: auto;
    color:  #212121;
}

.flex-individual {
    display: flex;
    flex-direction: column;
    max-width: 270px;
}

input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid rgb(155, 15, 43);
}

input {
    width: 18vw;
    min-width:207px;
    max-width: 270px;
    height: 3vh;
    min-height:32px;
    font-size: 1rem;
    border: #323232 solid 1px;
    border-radius: 5px;
    background-color:whitesmoke;
}

label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

legend {
    font-size: 3rem;
    margin-bottom: 5vh;
}

.button-div {
    display: flex;
    justify-content: center;
}

.create-account-button {
    width: 16rem;
    height: 4rem;
    background-color:  #323232;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 25px;
    border: darkgray 2px solid;
}

.create-account-button:hover {
    cursor: pointer;
    background-color:  #4e4e4e;
}

.create-account-button,
input {
    box-shadow: #4e4e4e 2px 2px 2px;

}

h1 {
    font-size: 3rem;
}

.sign-up {
    padding-top: 3rem;
    display: flex;
    justify-content: flex-end;
}

.legend-div {
    display: flex;
    justify-content: flex-start;
}

a,
a:visited {
    color:  #323232;
}

.form-content a:hover {
    color: whitesmoke;
}
.banner p,
.banner a {
    color: whitesmoke;
    text-align: center;
}

.banner a:hover {
    color: rgb(197, 194, 194);

}
.credit {
    position:relative;
    bottom: 70px;
}

.transparent-bar {
    position: relative;
    color:white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    top:-55%;
}

.header-area * {
    margin-bottom: 2rem;
}

.header-area h2 {
    font-size: 2rem;
}

.bar-text {
    font-size: 3rem;
}

.box-shadow {
    box-shadow: #4e4e4e 2px 2px 2px;
    background-color: #9fa59f;
    border: 1px #323232 solid;
    padding: 3rem;
}

.form-content p {
    margin-top: 0.5rem;
    text-wrap: wrap;
    font-size: 1rem;
    color: whitesmoke;
}