* {
    box-sizing: border-box;
}

body {
    display: flex;
    position: relative;
}

.banner {
    position:static;
    right: 250px;
}

img {
    width: 20vw;
}

.image-banner {
    height: 95vh;
}
.content {
    width: 50vw;
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: space-around;
    margin: auto;
}

.flex-individual {
    display: flex;
    flex-direction: column;
}

input {
    width: 20vw;
    height: 3vh;
    border: gray solid 1px;
    border-radius: 5px;
}

label {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2vh;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

legend {
    font-size: 40px;
    font-weight:bold;
    margin-bottom: 5vh;
}
.create-account-button {

}